.box-thumb {
  background-color: #a5a9b21a;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  width: 200px;
}

.tapa-thumb {
  position: relative;
}

.img-thumb {
  width: 100%;
}

.inputDiv {
  position: relative;
}

span.badge {
  background-color: black;
  margin-left: 20px;
}

span.help-block {
  font-size: 0.8rem;
  margin-left: 5px;
}

.btn-success {
  margin-left: 5px;
}

.form-group {
  margin-top: 5px;
}
#akeyword {
  font-size: 42px;
  width: 12em;
  border-style: none;
  background-color: darkred;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}

.button-nav-prev {
  margin-left: 10px;
}

.button-nav-next {
  margin-left: 10px;
}

.searchBox {
  width: 30%;
  padding: 0.5rem 0.75rem;
  margin-left: 5px;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
